{
  "Sonarr": {
    "Urls": [
      "https://sonarr.domain.com;<redacted>",
      "https://sonarr4k.domain.com;<redacted>"
    ]
  },
  "Radarr": {
    "Urls": [
      "https://radarr.domain.com;<redacted>",
      "https://radarr4k.domain.com;<redacted>"
    ]
  },
  "ScriptSettings": {
    "ArrsQueue": {
      "Webhook": "https://discord.com/api/webhooks/<redacted>/<redacted>"
    }
  }
}
